<div class="search">
  Bill Name: <%= @bill.name %>
  <br>
  Bill Number: <%= @bill.number %>
  <br>
  Bill Status: <%= @bill.status %>
  <br>
  <br>
  <% @bill.votes.each do |vote| %>
    <li>
      <%= vote.pol.name %> voted
      <%= vote.how_vote %> on this bill
    </li>
    <br>
  <% end %>
</div>
