<div class="container-fluid">

  <div class="row custom-class">
    <div class="col-md-6">
      <h1><%= @pol.name %></h1>
      <h2><%= @pol.party %></h2>
    </div>
    <div class="col-md-12">
      <% @pol.votes.each do |vote| %>
        <table>
          <tr><%= vote.bill.name %></tr>
          <br>
          <tr>  Voted: <%= vote.how_vote %></tr>
          <br>
          <tr>  Current Status:  <%= vote.bill.status %></tr>
          <br>
          <br>
        </table>
      <% end %>
    </div>
  </div>

